* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
ol,
ul,
menu {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #333333;
  position: relative;
  display: inline-block;
  margin-bottom: 60px;
}

.title::first-letter{
  text-transform: uppercase;
}

.title::before{
  content: "";
  position: absolute;
  background-color: #ff00004b;
  height: 15px;
  width: 100%;
  bottom: 0;

}

/* -------Home-------- */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav__list {
  display: flex;
}
.nav__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  margin-right: 30px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link:hover {
  color: #2352de;
  transition: color 0.3s linear;
}
.menu-btn {
  display: none;
  z-index: 3;
}
@media screen and (max-width: 992px) {
  .nav__list {
    display: none;
    position: absolute;
    right: 0;
    top: -70px;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-size: 45px;
    background-color: rgba(0, 0, 0, 0.753);
    padding: 150px 0 130px 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
  }
  .nav__item {
    font-size: 40px;
    margin: 0;
    padding: 20px 0;
  }
  .nav__active {
    display: flex;
  }
  .menu-btn {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    height: 30px;
  }
  .menu__item {
    font-size: 0;
    height: 5px;
    width: 30px;
    background-color: #fff;
    display: block;
    position: relative;
    transition: all 0.3s linear;
  }
  .menu__item::before,
  .menu__item::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 30px;
    background-color: #fff;
  }
  .menu__item::before {
    top: 10px;
    left: 0;
  }
  .menu__item::after {
    bottom: 10px;
    left: 0;
  }
  .menu__active .menu__item {
    height: 0;
  }
  .menu__active .menu__item::before {
    top: 0;
    left: 0;
    transform: rotate(-45deg);
  }
  .menu__active .menu__item::after {
    transform: rotate(45deg);
    top: 0;
    left: 0;
  }
}
.home {
  padding: 75px 0 65px;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  z-index: 1;
  position: relative;
  color: #fff;
}
.home::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4);
}
.home__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 200px);
  max-width: 640px;
}
.home__title {
  font-weight: 400px;
  font-size: 48px;
  line-height: 65px;
}
.home__subtitle {
  max-width: 640px;
  width: 100%;
  font-weight: 700px;
  font-size: 90px;
  line-height: 123px;
}
.home__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: block;
  text-align: center;
  position: relative;
  margin-bottom: 65px;
}
.home__link::after {
  content: "";
  position: absolute;
  width: 37px;
  height: 23px;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(./img/icons/Group.png);
  background-repeat: no-repeat;
  animation-name: arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
/* @keyframes arrow {
  from {
    top: 40px;
  }
  to {
    top: 55px;
  }
} */
@keyframes arrow {
  0% {
    top: 40px;
  }
  50% {
    top: 55px;
  }
  100% {
    top: 40px;
  }
}
.about {
  padding: 140px 0;
}
.about__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 60px;
}
.about__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #333333;
  margin-bottom: 30px;
  max-width: 1170px;
  width: 100%;
}
.about__text:last-child {
  margin-bottom: 0;
}

/* skells */

.skils {
  background-color: #f6f6f8;
}
.skils__inner-all {
  display: flex;

  align-items: center;
}
.skils__img {
  padding-bottom: 140px;
  margin-bottom: 140px;
}
.skils__list {
  margin-left: 90px;
}
.skils__item {
  margin-top: 85.71px;
  display: flex;
  align-items: center;
}
.skils__item:first-child {
  margin-top: 0;
}
.skils__in {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #333333;
  width: 55px;
  margin-right: 10px;
}
.skils__rating {
  background-color: #2352de;
  height: 32px;
  display: block;
}
.skils__graphic {
  background-color: #dbdbed;
  width: 600px;
  height: 32px;
}

/* services */

.services {
  background: #ffffff;
  padding-top: 140px;
}
.services__list {
  display: flex;
  justify-content: space-between;
}
.services__description {
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  margin-bottom: 25px;
}
.services__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  max-width: 330px;
  width: 100%;
}
.services__logo {
  margin-bottom: 30px;
}

.project {
  padding-top: 140px;
}
.project__line {
  display: flex;
}
.project__item {
  margin-right: 44px;
  margin-top: 44px;
}
.project__item:last-child {
  margin-right: 0;
}
.project__image::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  transition: background-color 0.3s linear;
}
.project__image::after {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 20px;
  position: absolute;
  background-image: url(./img/icons/vector.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.project__link:hover .project__image::before {
  background-color: rgba(110, 156, 159, 0.64);
}
.project__link:hover .project__image::after {
  background-image: url(./img/icons/vector.svg);
}

/* contacts */

.contact__inner{
  display: flex;
  justify-content: space-between;
}
.contact__social{
  max-width: 530px;
  width: 100%;
}

.contact__form{
  display: flex;
  flex-direction: column;
}

.contact__form-inner{
  display: flex;
}

.contact__text{
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 30px;
}
.contact__number{
  color: #2352de;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  display: block;
  margin-bottom: 15px;
}
.contact__mail{
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #2352de;
  margin-bottom: 21px;
}
.contact__list{
  display: flex;
}
.contact__item{
  margin-right: 20px;
}
.contact__link{
  display: block;
  font-size: 0;
  width: 44px;
  height: 44px;
  position: relative;
}
.contact__link::before{
  content: "";
  position: absolute;
  height: 44px;
  width: 44px;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact__link--instagram::before{
  background-image: url(./img/icons/Instagram.png);
}
.contact__link--facebook::before{
  background-image: url(./img/icons/Facebook.png);
}
.contact__link--telegram::before{
  background-image: url(./img/icons/Telegram.png);
}

.contact__lable{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

.contact__lable:first-child{
  margin-right: 30px;
}

.contact__area-lable{
  display: flex;
  flex-direction: column;
}

.contact__button{
  width: 148px;
  height: 47px;
  background-color: #2352DE;
  color: #ffffff;
  border: 0;
  font-size: 18px;
}

.contact__input{
  width: 255px;
  height: 50px;
  background-color: #F6F6F8;
  border: 0;
  padding: 13px 15px;
  margin-top: 10px;
}

.contact__textarea{
  display: block;
  width: 100%;
  resize: horizontal;
  min-height: 115px;
  margin-bottom: 30px;
  border: 0;
  background-color: #F6F6F8;
  padding: 13px;
  font-size: 14px;
  margin-top: 10px;
}
